.masthead {
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 4rem;
  margin-bottom: 1rem;
  background-color: #563d7c;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.masthead .nav .nav-link {
  color: #fff;
}
